@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*1. Header section */
html,
body {
    height: 100%;
}
body {
    line-height: 1.2;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.wrapper {
    min-height: 100%;
    background: #000;
    width: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header {
    position: relative;
    text-transform: uppercase;
    background: #1a1a21;
    display: flex;
}
.header__photo {
    width: 30%;
    overflow: hidden;
    display: flex;
}
.header__photo > img {
    width: 100%;
}
.header__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__menu {
    height: 11%;
    display: flex;
    background: #fecc00;
    justify-content: end;
    align-items: center;
    margin-bottom: 4%;
}
.header_menu_item {
    position: relative;
    margin-right: 20px;
}
.header_menu_item::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    background-color: #1a1a21;
    transition: 0.5s width ease-in-out;
}
.header_menu_item:hover::before {
    width: 100%;
}
.header__info {
    height: 30%;
    display: flex;
    background: #fecc00;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.header__title {
    line-height: 1.4;
    text-align: end;
    font-size: 35px;
    justify-content: end;
}
.header__subtitle {
    text-align: end;
    justify-content: end;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.145em;
    margin-bottom: 10px;
}

/*2. Content section */

.main__content {
    display: flex;
    flex-grow: 1;
}

/*2.1  Side content */
.aside {
    display: flex;
    width: 30%;
    background: #1a1a21;
    flex-direction: column;
    color: aliceblue;
    padding-left: 3%;
    padding-top: 2%;
}
.education {
    margin-bottom: 50px;
}
.side__header {
    font-size: 30px;
}
.divider {
    height: 2px;
    margin-bottom: 10px;
}
.divider_yellow {
    background: #fecc00;
}
.education__content {
}
.ebucation__place {
}
.education__title {
    position: relative;
    text-transform: uppercase;
    font-size: 21px;
}
.education__title > a:hover {
    text-decoration: underline;
    transition: all 0.5s;
    color: #fecc00;
}
.education__title > a {
    display: inline-block;
}
.education__title > a::before {
    content: "";
    position: absolute;
    background: aliceblue;
    height: 5px;
    width: 5px;
    top: 10px;
    left: -15px;
    border-radius: 5px;
}
.education__title > a:hover::before {
    content: "";
    position: absolute;
    background: #fecc00;
    height: 12px;
    width: 12px;
    top: 7px;
    left: -18px;
    border-radius: 12px;
    transition: all 0.5s;
}
.education__title:first-line {
    letter-spacing: 0.06em;
}
.education__subtitle {
    margin: 10px 0 10px;
    padding-left: 4%;
    font-size: 18px;
}
.skills {
    margin-bottom: 50px;
}
.skills__title {
    text-transform: uppercase;
}
.skills__list {
}
.skills__item {
    margin: 20px 0px 20px 0px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-size: 16px;
}
.skills__html {
    background-image: url(/assets/icons/html.svg);
}
.skills__css {
    background-image: url(/assets/icons/css.svg);
}
.skills__sass {
    background-image: url(/assets/icons/sass.svg);
    background-position: 3px 0;
}
.skills__javascript {
    background-image: url(/assets/icons/javascript.svg);
}
.skills__bootstrap {
    background-image: url(/assets/icons/bootstrap.svg);
}
.skills__github {
    background-image: url(/assets/icons/github.svg);
}
.skills__avocode {
    background-image: url(/assets/icons/avocode.svg);
    background-position: 6px 0;
}

/* 2.2  Main */

.main {
    display: flex;
    width: 70%;
    color: #1a1a21;
    background: aliceblue;
}
.main__about {
}
.main__header {
}
.main__descr {
}

/* 3. Footer section */

.footer {
    height: 20vh;
}
.footer__container {
    height: 100%;
    display: flex;
}
.contacts {
    height: 100%;
    background: #1a1a21;
    width: 30%;
    padding-left: 3%;
    padding-top: 0.5%;
}
.contacts__title {
    text-transform: uppercase;
    color: aliceblue;
}
.contacts__phone {
    position: relative;
    margin: 30px 0 0 50px;
    color: aliceblue;
}

.phone__number::before {
    position: absolute;
    content: 'Phone';
    left: 0px;
    background: #1a1a21;
    z-index: 1;
    width: 140px;
}
.phone__number:hover:before {
    position: absolute;
    content: 'Phone:';
    left: -69px;
    background: #1a1a21;
    z-index: 1;
    width: 30px;
    transition: all 1s;
}
.phone__number {
position: relative;
}

.footer__content {
    height: 100%;
    width: 70%;
    background: #fecc00;
}
